/* Nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 5px;
}

.logo-title {
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}

nav > ul {
    display: flex;
    
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    float: right;
}

.menu {
    overflow: auto;
}
